packages:
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
  yum:
    newrelic-php5: []
    newrelic-sysmond: []
commands:
  01_install_newrelic:
    command: "newrelic-install install"
    leader_only: true
    ignoreErrors: true
  05_install_newrelic:
    command: "install newrelic-sysmond"
    ignoreErrors: true
    leader_only: true
  10_license_newrelic:
    command: "sed -i 's/REPLACE_WITH_REAL_KEY/155c5e068b2352e3a3bb49203d9d2a0aa3ff6640/g' /etc/php.d/newrelic.ini"
    leader_only: true
    ignoreErrors: true
  20_license_newrelic:
    command: "sudo nrsysmond-config --set license_key=155c5e068b2352e3a3bb49203d9d2a0aa3ff6640"
    ignoreErrors: true
    leader_only: true
  30_application_name_newrelic:
    command: "sed -i 's/PHP Application/newrelic auto provision/g' /etc/php.d/newrelic.ini"
    ignoreErrors: true
    leader_only: true
  40_newrelic_config_copy:
    command: "cp /etc/newrelic/newrelic.cfg.template /etc/newrelic/newrelic.cfg"
    leader_only: true
  50_service_restart_10:
    command: "/sbin/service newrelic-daemon restart"
    leader_only: true
  60_service_restart_11:
    command: "/sbin/service newrelic-sysmond restart"
    leader_only: true
  70_service_restart_20:
    command: "/sbin/service httpd restart"
    leader_only: true
