packages:
  yum:
    nginx: []
    php55-fpm: []
files:
   "/opt/elasticbeanstalk/hooks/preinit/99_install_nginx.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/usr/bin/env bash
         yum -y install nginx
   "/opt/elasticbeanstalk/hooks/appdeploy/post/99_install_nginx_conf.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/bin/bash
         cd $EB_APP_STAGING_DIR
         mkdir -p /etc/nginx/conf.d
         #cp -f .ebextensions/nginxconf/site.conf /etc/nginx/conf.d/site.conf
         service httpd stop  
         service php-fpm restart
         service nginx restart
   "/opt/elasticbeanstalk/hooks/appdeploy/post/01_monitor_httpd_pid.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/bin/bash
         set -xe
         chmod 0755 /var/run/httpd
         /opt/elasticbeanstalk/bin/healthd-track-pidfile --proxy nginx
container_commands:
  01-command:
    command: cp .ebextensions/site.conf /etc/nginx/conf.d/site.conf
